html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    overflow: hidden;
}

@font-face {
 font-family: "MesloLGS NF";
 src: url("https://raw.githubusercontent.com/romkatv/powerlevel10k-media/master/MesloLGS%20NF%20Regular.ttf") format('truetype');
 font-weight: normal;
 font-style: normal;
}
@font-face {
    font-family: "MesloLGS NF";
    src: url("https://raw.githubusercontent.com/romkatv/powerlevel10k-media/master/MesloLGS%20NF%20Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "MesloLGS NF";
    src: url("https://raw.githubusercontent.com/romkatv/powerlevel10k-media/master/MesloLGS%20NF%20Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "MesloLGS NF";
    src: url("https://raw.githubusercontent.com/romkatv/powerlevel10k-media/master/MesloLGS%20NF%20Bold%20Italic.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

#terminal-container {
    width: auto;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    .terminal {
        padding: 5px;
        height: calc(100% - 10px);
    }
}
